* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Manrope";
  letter-spacing: -0.03em;
  color: black;
  --paragraph-color: #787676;
  --caption-color: #5b5b5b;
  --black: #1e1b1b;
  --primary: #ff6433;
  --secondry: #661ce7;
  --mint: #00d289;
  --grey: #939191;
  --steel-grey: #e2e6e9;
  --light-grey: #f2f2f2;
  --white: #fff;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mr-20 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-10 {
  margin-top: 10px;
}

.text-white {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.bg-white {
  background-color: var(--white);
}

.paragraph-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75em;
  color: var(--paragraph-color);
}

.paragraph-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--paragraph-color);
}

caption {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--caption-color);
}

.title-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.title-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.btn-primary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 40px;
  gap: 10px;
  border-radius: 12px;
  background: var(--primary);
}

.btn-black {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 15px;
  gap: 10px;
  border-radius: 12px;
  background: var(--black);
  margin-bottom: 20px;
}

.view-counter {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--grey);
}
